{% extends 'base.html' %}
{% block content %}
<div style="max-width: 500px; margin: auto; background: white; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h2 style="text-align: center;">Yangi ustoz qo'shish</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div style="margin-bottom: 15px;">
                <label style="font-weight: bold; display: block; margin-bottom: 5px;">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <small style="color: red;">{{ field.errors }}</small>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-add" style="width: 100%; margin-top: 10px;">Saqlash</button>
    </form>
</div>
{% endblock %}